*{
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    box-sizing: border-box;
    color:#fff;
    outline:none;
    text-decoration:none;
    text-align:center;
}
body{
    background: #FFF;
    margin:0;
    padding:0;
}

header{
    background:#FFF;

}

header > img{
    width:380px;
    border:solid 1px;
}

.container{
    max-width:380px;
    margin:0 auto;
    text-align:center;
    max-width: max-content;
}

h1, h2{
    text-align:center;
    color:#111 !important;
}
h2{font-size:40px;}

.wpp-btn{
    color:#fff;
    display: grid;
    text-decoration: none;
    outline: none;
    display:grid;
    grid-template-columns: max-content auto;
    grid-gap:16px;
    place-items: center;
    filter:drop-shadow(-1px -1px 1px #fff) drop-shadow(1px 1px 5px #000);
    margin-top:16px;
    margin:1rem auto 0 auto;
    min-width:max-content;
    max-width:min-content;
    margin:16px auto 0 auto;
}

.wpp-btn i{
    font-size:60px;
    width: 70px;
    height: 70px; 
    display:grid;
    place-items: center;
    border-radius:50%;
    background:#075E54;
    position:relative;
    z-index:1;
}

.wpp-btn i:before{
    align-self:center;
}


.wpp-btn span{
    font-size:20px;
    background:#075E54;
    display:block;
    padding:10px 30px 10px 0px;
    text-indent:1.5rem;

    margin-left:-30px;
    border-radius:0 50px 50px 0;
    width:max-content


}

.btn{
    font-size:18px;
    width: clamp(240px, calc(100% - 2rem), 400px);
    padding:16px 32px;
    border-radius:8px;
    display:block;
    margin:1rem auto;
    display:grid;
    grid-template-columns: min-content auto;
    place-items: center;
    min-width:max-content;
    width:100%;
    grid-gap:1rem;
}

.btn i{
    font-size:30px;
}
.btn span{
    text-align:center;
    display:block;
    color: inherit;
}

.btn-email{
    background:#019ece;
    color:#fff;
}

.btn-facebook{
    background:rgba(7, 7, 145, 0.705);
    color:#fff;
}

.btn-instagram{
    background: linear-gradient(150deg, #405de6, #e1306c, #fd1d1d, #f56040);
    color:#fff;
}
.btn-mercado-libre{
    background:#ffe600;
    color:#2D3277;

}

.btn-tiktok{
    background:#010101;

}