:root{
    --a4w:210mm;
    --a4h:297mm;
    --maxw:calc(100% - 4rem);
    --menuW:60mm;
    --struct-background:#450e13;
    --struct-color:#ffffff;
    --background:#574244;
    --red:#d40000;
}

::-webkit-scrollbar{
    display:none;
}
body{
    margin:0;
    padding:0;
    display: grid;
    max-width: calc();
    grid-gap:0 1rem;
    /* background: white; */
    grid-template-columns:var(--menuW) max-content;
    background:var(--background);
    padding-bottom:2rem;

}
body > header{
    grid-column:1/4;
    height: 50px;
    background-color: var(--struct-background);
    width: 100vw;
    margin:0 auto;
    position:sticky;
    top:0;
    z-index: 9;
    display: grid;
    grid-template-columns: max-content auto;
    align-content:center;
    padding:0;
}

body > header .logo{
    align-self:center;
    display:block;
    margin:0 0 0 1rem;
    height:48px;
    position:relative;
    top:0;
}
body > header nav{
    display:grid;
    grid-template-columns:repeat(2, max-content);
    max-width: max-content;
    margin:auto 1rem auto auto;
    grid-gap:2rem;
}

body > header nav a{
    color:var(--struct-color);
    text-decoration:none;
    font-weight: 600;
    font-size:1rem;
}
*{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    box-sizing: border-box;
    color:#333;
    print-color-adjust:exact;
}

body > header{
    width:100%;
}



nav#menu{
    width:var(--menuW);
    inset:0;
    background:  var(--struct-background);
    overflow: hidden;
    position: sticky;
    top:0;
    display:grid;
    grid-auto-rows:min-content;
    max-height: 100dvh;
    padding-top:3rem;
}
#menu > *{
    color:var(--struct-color);
}

nav#menu > button, nav#menu a{
    background:transparent;
    border:none;
    color:var(--struct-color);
    font-size:6mm;
    width:calc(100% - 8mm);
    margin:0 auto;
    text-align:left;
    border-bottom: solid 1px #fff2;
    padding:2mm 5mm;
    text-decoration: none;
    font-weight:500.icon;

}

nav#menu i{
    color:inherit;
}
nav#menu > button:hover,
    nav#menu > a:hover{
    color:rgb(0, 195, 255);
    cursor:pointer;

}
.content-printable{
    box-shadow: 0 0 15px #0004;
    margin-top:1rem;
}
.a4{
    width:var(--a4w);
    min-width:var(--a4w);
    max-width:var(--a4w);
    min-height:297mm;
    transform:scale(1);
    transform-origin: 50% 50%;
    /* position:fixed; */
    top:1rem;
    right:0;
    /* position: absolute; */
    grid-column:2/3;
    background:white !important;
    background-color:white !important;
    padding:0;
    margin:0;
    print-color-adjust:exact;
}