:root{
    --menuW:calc(100vw - var(--a4w) - 3rem);
}

body{
    background:#eee;
    grid-template-columns:var(--menuW) max-content;
    max-width:calc( var(--a4w) + (2 * var(--menuW)) + 2rem);
    overflow-x:hidden;
}

.content{
    margin-top:0.5rem;
}

.a4{
    border:dashed 1px;
    padding: 15mm 25.4mm;
    position: relative;
}

.a4 header{
    position: absolute;
    top:12.5mm;
    right:24.5mm;

}

.a4 *{
    font-family:"Arial";
    line-height:1.5;
}

.a4 .watermarker{
    /* border:solid 2px green; */
    position:absolute;
    display:block;
    z-index: -1;
    margin: auto;
    inset: 0;
    width: calc(100%);
    margin: auto auto;
    filter: opacity(0.15);
    transform:rotateZ(-50deg);
}

.input-result{
    border-bottom:dashed 1px #000;
    padding:0 1mm;
}

#menu{
    padding:1rem;
    height:100dvh;
    overflow:hidden;
}

#menu:hover{
    overflow:scroll;
}


@media (width > 1024px){
    #menu{
        grid-template-columns:repeat(2, 1fr);
        grid-gap: 10px;

    }

    #menu h3{
        grid-column:1/3;
    }
}

div.data{
    /* border:solid 1px rgb(39, 33, 33); */
    position:relative;
    border-radius: 0 5px 5px 5px;
    background: #fff;
    margin-top:1.25rem;
}

div.data .placeholder{
    position:absolute;
    font-size:0.9rem;
    /* border:solid 1px red; */
    margin-top:-0.75rem;
    border-radius:5px 8px ;
    background: #fff;
    padding:2px 20px 2px 5px;

}

div.data .placeholder:after,
div.data .placeholder:before{
    content:"";
    width:0.751rem;
    height:0.75rem;
    background:#fff;
    display:block;
    position: absolute;
    top:0;
    right:-10px;
}

div.data .placeholder:after{
    background-color: var(--struct-background);
    border-radius: 0 0 0 5px;
}
    
div.data input{
    font-size:1.15rem;
    padding-top:1rem;
    padding-bottom:0.15rem;
    border:none;
    background: transparent;
    outline:none;
    display:block;
    width:100%;
    text-indent:0.25rem;
}


.firm{
    display:grid;
    grid-template-columns:repeat(2, max-content);
    grid-gap:10mm;
    position:absolute;
    bottom:24.5mm;
    
}

.firm > p{
    grid-column:1/3;
    margin: 0;
    padding:0;
}

.firm > div p{
    min-width: 70mm;
    border-bottom:solid 1px #999;
    padding:0;
    margin:0;
    height:6mm;
}

.firm > div div{
    font-size:0.9rem;
    text-align: center;
}

