

.paper{
    position:relative;
    min-height: 138mm;
    max-height: 138mm;
    overflow: hidden;
    border:dashed 1px #eee;
    width:var(--a4w);
    background:#fff;
    box-sizing: border-box;
    margin:0 0;
    width:100%;
}

.paper .delete-paper{
    position:absolute;
    right:5mm;
    top:3mm;
    display:block;
    z-index:2;
    color:var(--red);
    backdrop-filter: blur(4px);
    font-size:4mm;
    border:solid 1px #fff;
    border-radius:50px;
    padding:1mm 3mm;
    font-weight:600;
    box-shadow:0 0 15px -5px #0008;
    visibility:hidden;
}
.paper:hover .delete-paper{
    visibility:visible;
}

.paper .delete-paper:hover{
    background:rgb(236, 142, 142);
    
}




header{
    padding:5mm 0 0;
    width:190mm;
    margin:0 auto;
}
    header img{
    height:30mm;
    /* width:158mm; */
    display:block;
    margin: 0;
}
.qr{
    width:35mm;
    height:35mm;
    position:absolute;
    top:3mm;
    right:3mm;
    border:solid 1px #fff;
}
.l1, .l2, .l3, .l4{
    max-width:190mm;
    display:block;
    background:#fff;
}
.l1{
    font-size:12mm;
    font-weight: 900;
    padding:0;

    width:190mm;
    margin: 0rem auto;
    align-items: center;
}

.nodisplay{
    display:none;
}

.l2{
    border-top: solid 1px #999;
    border-bottom: solid 1px #999;
    width:240mm;
    margin:0 auto;
    display: grid;
    grid-template-columns: max-content auto auto max-content;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: min-content;
    max-height:min-content;
    align-content:center;
    padding:1mm 0;
    place-items: center;
    place-content:space-between;
    z-index:1;
    position:relative;
}
select {
    appearance: base-select;
}
::picker(select) {
    appearance: base-select;
}
::checkmark{
    display:none;
}
select::picker-icon { display: none; }

.l2 p, .l2 select{
    font-size:25px;
    font-weight: 600;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1rem;
    align-items: center;
    font-weight:900;
    overflow:hidden;
    border:solid 1px transparent;
    border-radius:5px;
    outline:none;

}

.l2 select{
    padding:0;
    background:#fff;
}
.l2 select:hover{
    border:solid 1px #555;
}

.l2 p:nth-child(1){
    align-self: center;
    margin:0 ;
    padding: 0;
}

.l2 p:nth-child(1) i{
    font-size:45px;
    align-self:center;
}


.l2 p:nth-child(2){
    text-align:center;
    max-width:max-content;
    margin:0 auto;
    align-self: center;
    padding:0;
}
.l2 p:nth-child(2) i{
    font-size: 30px;
    align-self:center;
}

.l2 p:nth-child(3){
    max-width: max-content;
    margin: 0 0 auto auto;
    align-self: center;
}

.l2 p:nth-child(4){
    max-width: max-content;
    margin: 0 0 auto auto;
    align-self: center;
}
.l2 p i{
    font-size:40px;
}

.l3{
    width:var(--maxw);
    margin: 0 auto;
    height: 56mm;
    display: grid;
    align-content: center;
    grid-auto-rows: min-content;
    position:relative;
    /* border:solid 1px blue; */
    print-color-adjust: exact;
}

.l3 div{
    /* border:solid 1px blue; */
    position:relative;
    padding:2mm 0;
    margin:0 auto;
    background:#fff;
    /* border:solid 1px red; */
}



.l3 div p{
    font-size:22pt;
    padding:0;
    margin:0 auto;
    width:190mm;
    margin: 0 auto;
    /* border:solid 1px green; */
    font-weight: 800;
    line-height:1;
    position:relative;
    outline:none;
}

.l3 div:nth-last-child(1){
    background:#fff;
}
    .l3 div:nth-last-child(1) p{
    color:var(--red) !important;
    padding:1mm 0;
    text-align:center;
    font-weight:900;
    background:#fff;
}




.l3 div i{
    color:#a3a3a3;
    position: absolute;
    right:0mm;
    top:0;
    bottom:0;
    display:grid;
    place-items:center;
    font-size:5mm;
    margin:auto 10mm auto auto;
    height:100%;
    margin: 0;
    visibility:hidden;
}

.l3 div:hover i{
    visibility:visible;
}

.l3 div i:hover{
    color:var(--red);
    cursor:pointer;
}
.add-row{
    position:absolute;
    color:#a3a3a3;
    height: min-content;
    inset:auto 0 3mm 0;
    display:block;
    text-align: center;
    visibility:hidden;
    z-index:0;
}


.l3:hover .add-row{
    visibility:visible;
}

.add-row:hover{
    color:green,
}

.l4{
    max-width:190mm;
    margin: 0 auto;
    
}
.l4 h2{
    font-size:35px;
    font-weight: 900;
    color:var(--red);
    padding:0;
    margin:-2mm 0 0 0;
    text-align:center;
    background:#fff;

}
.editable{
    border:solid 1px #0000;
    display: block;
    min-width:50px;
}
.editable:hover{
    border:solid 1px #555;
    display: block;
}
.icon{
    width:2rem;
    height:2rem;
    align-self:center;
}

@media print {
    .a4 {
        page-break-after: always;
        page-break-inside: avoid;
        print-color-adjust:exact;

    }
    
    nav {
        display: none;
    }
    @page {
        margin: 0; /* Define márgenes para todas las páginas */
    }
}


footer{
    background: #000;
    position: absolute;
    bottom: 0;
    top:auto;
    max-height: min-content;
    width: 100%;
    padding:10px;
    border-radius: 10px 10px 0 0;
}
footer div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:var(--maxw);
    margin:0 auto;
    align-content: center;
}
footer div span{
    display:block;
    width:100%;
    color:#fff;
    text-align: center;
    font-weight:500;
}

footer div span:nth-child(2){
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}


