:root{
    --a4w:210mm;
    --a4h:297mm;
    --maxw:calc(100% - 4rem);
    --menuW:60mm;
    --struct:#000;
    --background:#eee;
}
body{
    margin:0;
    padding:0;
    display: grid;
    max-width: calc();
    grid-gap:0 1rem;
    /* background: white; */
    grid-template-columns:var(--menuW) max-content;
    background:var(--background);

}
body > header{
    grid-column:1/3;
    height: 50px;
    background-color: var(--struct);
    width: 100vw;
    margin:0;
}

*{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    box-sizing: border-box;
    color:#333;
    print-color-adjust:exact;
}
.content-printable{
    /* border: solid 1px red; */
    box-shadow: 0 0 15px #0004;
    margin-top:1rem;
}
.a4{
    width:var(--a4w);
    min-width:var(--a4w);
    max-width:var(--a4w);
    min-height:297mm;
    transform:scale(1);
    transform-origin: 50% 50%;
    /* position:fixed; */
    top:1rem;
    right:0;
    /* position: absolute; */
    grid-column:2/3;
    background:white !important;
    padding:0;
    margin:0;
}

.paper{
    position:relative;
    min-height: 135mm;
    max-height: 135mm;
    overflow: hidden;
    border:dashed 1px #eee;
    width:var(--a4w);
    background:#fff;
    /* border:solid 1px red; */
    box-sizing: border-box;
    margin:0 0;
}



nav#menu{
    width:var(--menuW);
    inset:0;
    background:  var(--struct);
    overflow: hidden;
    position: sticky;
    top:0;
    display:grid;
    grid-auto-rows:min-content;
    max-height: 100dvh;
}

nav#menu > button, nav#menu a{
    background:transparent;
    border:none;
    color:#fff;
    font-size:6mm;
    width:calc(100% - 8mm);
    margin:0 auto;
    text-align:left;
    border-bottom: solid 1px #fff2;
    padding:2mm 5mm;
    text-decoration: none;
    font-weight:500.icon;

}

nav#menu i{
    color:inherit;
}
nav#menu > *:hover{
    color:rgb(0, 195, 255);
    cursor:pointer;

}


header{
    padding:5mm 0 0;
    width:190mm;
    margin:0 auto;
}
    header img{
    height:30mm;
    /* width:158mm; */
    display:block;
    margin: 0;
    /* border: solid 1px red; */
}
.qr{
    width:35mm;
    height:35mm;
    position:absolute;
    top:3mm;
    right:3mm;
    border:solid 1px #fff;
}
.l1, .l2, .l3, .l4{
    max-width:190mm;
    display:block;

}
.l1{
    font-size:12mm;
    font-weight: 900;
    padding:0;

    width:190mm;
    margin: 0rem auto;
    align-items: center;
}

.nodisplay{
    display:none;
}

.l2{
    border-top: solid 1px #999;
    border-bottom: solid 1px #999;
    width:240mm;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: min-content;
    max-height:min-content;
    align-content:center;
    padding:1mm 0;
    place-items: center;
    align-content: center;
}

.l2 p{
    font-size:25px;
    font-weight: 600;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1rem;
    align-items: center;
    font-weight:900;
    overflow:hidden;
}


.l2 p:nth-child(1){
    align-self: center;
    margin:0 ;
    padding: 0;
}

.l2 p:nth-child(1) i{
    font-size:45px;
    align-self:center;
}


.l2 p:nth-child(2){
    text-align:center;
    max-width:max-content;
    margin:0 auto;
    align-self: center;
    padding:0;
}
.l2 p:nth-child(2) i{
    font-size: 30px;
    align-self:center;
}

.l2 p:nth-child(3){
    max-width: max-content;
    margin: 0 0 auto auto;
    align-self: center;
}

.l2 p:nth-child(4){
    max-width: max-content;
    margin: 0 0 auto auto;
    align-self: center;
}
.l2 p i{
    font-size:40px;
}

.l3{
    width:var(--maxw);
    margin: 0 auto;
}

.l3 h2{
    font-size:30.4px;
    padding:0;
    margin:0;
    width:190mm;
    margin: 0mm auto 0;
    font-weight: 800;
}
.l4{
    max-width:190mm;
    margin: 0 auto;
    
}
.l4 h2{
    font-size:35px;
    font-weight: 900;
    color:red;
    padding:0;
    margin:0;
    text-align:center;
}
.editable{
    border:solid 1px #0000;
    display: block;
    min-width:50px;
}
.editable:hover{
    border:solid 1px #555;
    display: block;
}
.icon{
    width:2rem;
    height:2rem;
    align-self:center;
}

@media print {
    .a4 {
        page-break-after: always;
        page-break-inside: avoid;
    }
    
    nav {
        display: none;
    }
    @page {
        margin: 0; /* Define márgenes para todas las páginas */
    }
}


footer{
    background: #000;
    position: absolute;
    bottom: 0;
    top:auto;
    max-height: min-content;
    width: 100%;
    padding:10px;
    border-radius: 10px 10px 0 0;
}
footer div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:var(--maxw);
    margin:0 auto;
    align-content: center;
}
footer div span{
    display:block;
    width:100%;
    color:#fff;
    text-align: center;
    font-weight:500;
}

footer div span:nth-child(2){
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}


