@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?rvo4w');
  src:  url('../fonts/icons/icomoon.eot?rvo4w#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?rvo4w') format('truetype'),
    url('../fonts/icons/icomoon.woff?rvo4w') format('woff'),
    url('../fonts/icons/icomoon.svg?rvo4w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-fuel:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-mercado-libre .path1:before {
  content: "\e905";
  color: rgb(45, 50, 119);
}
.icon-mercado-libre .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 230, 0);
}
.icon-mercado-libre .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mercado-libre .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mercado-libre .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mercado-libre .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(45, 50, 119);
}
.icon-odometer:before {
  content: "\e90b";
}
.icon-piston:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-print:before {
  content: "\e90e";
}
.icon-tiktok:before {
  content: "\e90f";
}
.icon-trash:before {
  content: "\e910";
}
.icon-whatsapp:before {
  content: "\e911";
}
