
<div class="paper">
    <header>
        <img src="./logo.png" alt="">
        <div class="qr_conf">
            <img class="qr" src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=https://martinezk97.github.io/glmotors/contacto" alt="">
        </div>
    </header>
    <p class="l1">
        <span class="editable" contenteditable="true">Marca Modelo Versión</span>
    </p>
    <div class="l2">
        <p>
            <!-- <img src="./resource/icons/piston.svg" class="icon">  -->
            <i class="icon-piston"></i>
            <span class="editable" contenteditable="true">X.X</span>
        </p>
        <p>
            <!-- <img src="./resource/icons/piston.svg" class="icon">  -->
            <i class="icon-fuel"></i>
            <span class="editable" contenteditable="true">Nafta</span>
        </p>
        <p>
            <i class="icon-calendar"></i>
            <span class="editable" contenteditable="true">XXXX</span>
        </p>
        <p>
            <!-- <img src="./resource/icons/odometer.svg" class="icon"> -->
            <i class="icon-odometer"></i>
            <span class="editable" contenteditable="true">XXX.XXX km</span>
        </p>
    </div>
    <div class="l3">
        <h2 class="editable" contenteditable="true">Características del vehículo</h2>
        <h2 class="editable" contenteditable="true">Información adiciona...</h2>
        <h2 class="editable" contenteditable="true">U$S XX.XXX | U$S XX.XXX + facilidades</h2>
    </div>
    <div class="l4">
        <h2 class="editable" contenteditable="true">FINANCIADO HASTA EN 36 CUOTAS</h2>
    </div>
    <footer>
        <div>
            <span>Andrés 093 453 198</span>
            <span>Rodrigo 094 889 865</span>
            <span>Mathías 094 161 041</span>
        </div>
    </footer>
</div>