
<section class="paper" id="p_0">
    <header>
        <button class="delete-paper">Eliminar afiche</button>

        <img src="./logo.png" alt="">
        <div class="qr_conf" height="30">
            <!-- <img class="qr" src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=https://martinezk97.github.io/glmotors/contacto" alt=""> -->
            <img class="qr" src="./resource/img/QR.png" width="132" height="132">
        
        </div>
    </header>
    <p class="l1">
        <span class="editable" contenteditable="true">Marca Modelo Versión</span>
    </p>
    <div class="l2">
        <p>
            <i class="icon-piston"></i>
            <span class="editable" contenteditable="true">X.X</span>
        </p>
        <p> 
            <i class="icon-fuel fuel-icon-select"></i>
            <select name="fuel-car" id="" class="fuel-select">
                <option value="icon-fuel"><i class="icon-fuel"></i> NAFTA</option>
                <option value="icon-fuel"><i class="icon-fuel"></i> GASOIL</option>
                <option value="icon-electric-car"><i class="icon-electric-car"></i> ELÉCTRICO</option>
                <option value="icon-hybrid-car"><i class="icon-hybrid-car"></i> HÍBRIDO</option>
            </select>
        </p>
        <p>
            <i class="icon-calendar"></i>
            <span class="editable" contenteditable="true">XXXX</span>
        </p>
        <p>
            <i class="icon-odometer"></i>
            <span class="editable" contenteditable="true">XXX.XXX km</span>
        </p>
    </div>
    <div class="l3">
        <i class="icon-plus add-row"></i>

        <div class="row">
            <p class="editable" contenteditable="true">Características del vehículo</p>
            <i  class="icon-trash"></i>
        </div>
        <div class="row">
            <p class="editable" contenteditable="true">Equipamiento, confort</p>
            <i  class="icon-trash"></i>
        </div>
        <div class="row">
            <p class="editable" contenteditable="true">USD XX.000 | XX.000 + FACILIDADES</p>
            <i  class="icon-trash"></i>
        </div>
        <div class="row">
            <p class="editable" contenteditable="true">FINANCIACIÓN POR BANCO O POR LA CASA</p>
            <i  class="icon-trash"></i>
        </div>
    </div>
    <div class="l4">
        <!-- <h2 class="editable" contenteditable="true">FINANCIADO HASTA EN 24 CUOTAS!!!</h2> -->
    </div>
    <footer>
        <div>
            <span class="editable" contenteditable="true">093 453 198</span>
            <span class="editable" contenteditable="true">094 889 865</span>
            <span class="editable" contenteditable="true"> 094 161 041</span>
        </div>
    </footer>
</section>